version: '3'

services:
  db:
    container_name: '${APP_NAME}-db'
    image: mysql
    restart: always
    environment:
      MYSQL_USER: ${DB_USER}
      MYSQL_PASSWORD: ${DB_PASSWORD}
      MYSQL_DATABASE: ${DB_NAME}
      MYSQL_ROOT_PASSWORD: ${DB_ROOT_PASSWORD}
    volumes:
      - ./data/:/var/lib/mysql/
    healthcheck:
      test: ["CMD", "mysqladmin", "ping", "-h", "localhost"]
      interval: 1s
      retries: 60
    ports:
      - "${DB_PORT}:3306"
  client:
    container_name: '${APP_NAME}-client'
    build: ./docker/react
    restart: always
    volumes:
      - './frontend/src/:/app/src'
      - './frontend/index.html:/app/index.html'
    environment:
      VITE_API_URL: '${API_URL}'
    ports:
      - '5173:5173'
  server:
    container_name: '${APP_NAME}-server'
    build: ./docker/django
    restart: always
    environment:
      DB_HOST: '${APP_NAME}-db'
      DB_PORT: ${DB_PORT}
      DB_USER: ${DB_USER}
      DB_PASSWORD: ${DB_PASSWORD}
      DB_DATABASE: ${DB_NAME}
      DJANGO_SECRET_KEY: ${DJANGO_SECRET_KEY}
      DJANGO_CORREO_PASSW: ${DJANGO_CORREO_PASSW}
      DJANGO_CORREO: ${DJANGO_CORREO}
      HOST_SERVER: ${HOST_SERVER}
      HOST_CLIENTE: ${HOST_CLIENTE}
      HOST_CORREO: ${HOST_CORREO}
      DB_ENGINE: ${DB_ENGINE}   
    volumes:
      - ./backend:/usr/src/app
    ports:
      - "8000:8000"
    depends_on:
      db:
        condition: service_healthy
  phpmyadmin:
    container_name: '${APP_NAME}-phpmyadmin'
    image: phpmyadmin/phpmyadmin
    depends_on:
      db:
        condition: service_healthy
    environment:
      PMA_HOST: ${DB_HOSTDB}
      PMA_PORT: ${DB_PORT}
      PMA_ARBITRARY: 1
    ports:
      - '8080:80'


